@model Finalpro.Models.EquipoOdontologico

<h1>Confirmar Eliminación</h1>

<div>
    <h4>Id: @Model.IdEquipoOdonto</h4>
    <h4>Nombre Material: @Model.NombreMaterial</h4>
    <h4>Id Proveedor: @Model.IdProveedor</h4>
    <h4>Cantidad Stock: @Model.CantidadStock</h4>
    <h4>Estado Equipo: @Model.EstadoEquipo</h4>
    <h4>Fecha Adquisición: @Model.FechaAdquisicion.ToShortDateString()</h4>
    <h4>Costo: @Model.Costo</h4>
    <h4>Área Equipo: @Model.AreaEquipo</h4>
    <h4>Último Mantenimiento: @Model.UltimoMantenimiento.ToShortDateString()</h4>
    
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="IdEquipoOdonto" />
    <button type="submit" class="btn btn-danger">Confirmar Eliminación</button> |
    <a asp-action="Index">Cancelar</a>
</form>
